<li>
  <div class="commenterImage">
    <%= link_to gravatar_for(comment.user, size: 50), comment.user %>
    <%= link_to comment.user.name, comment.user %>
  </div>
  <span class="content"><%= comment.content %></span> 
  <span class="timestamp">
    Posted <%= time_ago_in_words(comment.created_at) %> ago.
    <% if current_user == comment.user %>
      <%= link_to "delete", [comment.micropost, comment], method: :delete,
                                       data: { confirm: t('delete_confirm_msg') } %>
    <% end %>
  </span>
</li>